{{> menu}}

<section class="ui two column grid segment">
     <div class="ui column">
          <h1 class="ui header" align="center">Welcome to the Films App,{{fullname}}!</h1>
         
       <div class="ui divider"></div>

<h3 class="ui center aligned header">The Films App now contains:</h3>
<div class="ui five statistics">
    <div class="ui  statistic">
        <div class="value">
            {{totalFilmlists}}
        </div>
        <div class="label">
            Filmlists
        </div>
    </div>
    <div class="ui  statistic">
        <div class="value">
            {{totalFilms}}
        </div>
        <div class="label">
            Films
        </div>
    </div>
  <div class="ui  statistic">
        <div class="value">
            {{averageC}}
        </div>
        <div class="label">
            Average
        </div>
    </div>
   <div class="ui  statistic">
        <div class="value">
            {{mostC}}
        </div>
        <div class="label">
            Most
        </div>
    </div>
   <div class="ui  statistic">
        <div class="value">
            {{leastC}}
        </div>
        <div class="label">
            Least
        </div>
    </div>
</div>
       
       

       
       
       <div class="ui five statistics">
    <div class="ui small statistic">
        <div class="value">
            {{totalHorrors}}
        </div>
        <div class="label">
            Horrors
        </div>
    </div>
    <div class="ui  small statistic">
        <div class="value">
            {{totalThrillers}}
        </div>
        <div class="label">
            Thrillers
        </div>
    </div>
         <div class="ui small statistic">
        <div class="value">
            {{totalComedies}}
        </div>
        <div class="label">
            Comedies
        </div>
    </div>
         <div class="ui small statistic">
        <div class="value">
            {{totalDramas}}
        </div>
        <div class="label">
            Dramas
        </div>
    </div>
         <div class="ui small statistic">
        <div class="value">
            {{totalFantasies}}
        </div>
        <div class="label">
            Fantasies
        </div>
    </div>
</div>
        
 
        <h3 align="center">
           Your statistics
         </h3>
       
       <div class="ui five statistics" >
        
    <div class="ui small statistic">
        <div class="value">
            {{usertotalHorrors}}
        </div>
        <div class="label">
            Horrors
        </div>
    </div>
    <div class="ui  small statistic">
        <div class="value">
            {{usertotalThrillers}}
        </div>
        <div class="label">
            Thrillers
        </div>
    </div>
         <div class="ui small statistic">
        <div class="value">
            {{usertotalComedies}}
        </div>
        <div class="label">
            Comedies
        </div>
    </div>
         <div class="ui small statistic">
        <div class="value">
            {{usertotalDramas}}
        </div>
        <div class="label">
            Dramas
        </div>
    </div>
         <div class="ui small statistic">
        <div class="value">
            {{usertotalFantasies}}
        </div>
        <div class="label">
            Fantasies
        </div>
    </div>
</div>
       
       
       <div class="ui five statistics" >
        
    <div class="ui small statistic">
        <div class="value">
            {{usersTFL}}
        </div>
        <div class="label">
            Lists
        </div>
    </div>
    <div class="ui  small statistic">
        <div class="value">
            {{usersF}}
        </div>
        <div class="label">
            Films
        </div>
    </div>
         <div class="ui small statistic">
        <div class="value">
            {{useraverageC}}
        </div>
        <div class="label">
            Average
        </div>
    </div>
         <div class="ui small statistic">
        <div class="value">
            {{usermostC}}
        </div>
        <div class="label">
            Most
        </div>
    </div>
         <div class="ui small statistic">
        <div class="value">
            {{userleastC}}
        </div>
        <div class="label">
           Least
        </div>
    </div>
</div>
       
       
  
       
        </div>
 
  
  
  
  
  <div class="ui column">
    
    <h3>Most popular films:</h3>
    <p>click and watch a trailer!</p>
    <div class="ui grid">
      <div class="ui eight wide column">
        <a href="https://www.youtube.com/watch?v=IrBKwzL3K7s"><img class="ui small circular image" src="https://cdn.glitch.global/cb1bd98d-1ccd-4ae5-9344-afd9d61d4ff9/OIP.jpg?v=1647248141044"  title="Sherlock"></a>
      </div>
      <div class="ui eight wide column">
        <a href="https://www.youtube.com/watch?v=mX22D65TqAs"><img class="ui small circular image" src="https://cdn.glitch.global/cb1bd98d-1ccd-4ae5-9344-afd9d61d4ff9/3MBlAeSKd4pW631mNOq1KtiuNjV.jpg?v=1647248844762" title="Yellowjackets"></a>
      </div>
      <div class="ui eight wide column">
        <a href="https://www.youtube.com/watch?v=lGcJL6TG5cA"><img class="ui small circular image" src="https://cdn.glitch.global/cb1bd98d-1ccd-4ae5-9344-afd9d61d4ff9/Snowpiercer-Season-2-1200x900-1.jpg?v=1647249122180" title="Snowpiercer"></a>
      </div>
      <div class="ui eight wide column">
        <a href="https://www.youtube.com/watch?v=bB8fh4QUy-A"><img class="ui small circular image" src="https://cdn.glitch.global/cb1bd98d-1ccd-4ae5-9344-afd9d61d4ff9/OIP%20(1).jpg?v=1647249429319" title="Doctor Who"></a>
      </div>
    </div>
  </div>
</section>
  <h2 align="center">
    You may like it!
  </h2>
  <section class="ui three column grid segment">
    <div class="ui column">
      <div class="grid-container">
        
      <div class="grid-item" align="center">
        <h3>
          Horrors
        </h3>
        <div class="ui black divider"></div>
        </div>
      <div class="grid-item"><img class="ui circular image" src="https://cdn.glitch.global/ab8888b0-8bad-4613-9d9f-b035eb848489/OIP%20(2).jpg?v=1647373165340" title="The Ritual"></div>
      <div class="grid-item"><img class="ui circular image" src="https://cdn.glitch.global/ab8888b0-8bad-4613-9d9f-b035eb848489/a-bcm-50-480x703.jpg?v=1647373790060" title="Black cat"></div>
     </div>
    
    </div>
    <div class="ui column">
      <div class="grid-container">
      <h3 align="center">
        Comedies
      </h3>
      <div class="ui black divider"></div>
        <div class="grid-item"><img class="ui circular image" src="https://cdn.glitch.global/ab8888b0-8bad-4613-9d9f-b035eb848489/R.jpg?v=1647374964528" title="Home alone">
      </div>
        <div class="grid-item">
          <img class="ui circular image" src="https://cdn.glitch.global/ab8888b0-8bad-4613-9d9f-b035eb848489/1498164078-05-the-do-over-poster.jpg?v=1647375178052" title="The Do-over">
        </div>
    </div>
    </div>
    <div class="ui column">
        <div class="grid-container">
          <h3 align="center">
            Thrillers
          </h3>
          <div class="ui divider"></div>
            <div class="grid-item"><img class="ui circular image" src="https://cdn.glitch.global/ab8888b0-8bad-4613-9d9f-b035eb848489/R%20(1).jpg?v=1647375693720" title="Stumptown"></div>
            <div class="grid-item"><img class="ui circular image" src="https://cdn.glitch.global/ab8888b0-8bad-4613-9d9f-b035eb848489/R%20(2).jpg?v=1647375853579" title="Death sentence"></div>
        </div>
      </div>
  </section>


